src/*
!src/.gitkeep

data/*

!data/mysql
data/mysql/*
!data/mysql/.gitkeep

!data/wordpress
data/wordpress/*
!data/wordpress/.gitkeep

wp-content/*

!wp-content/themes
wp-content/themes/*
!wp-content/themes/.gitkeep

!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/.gitkeep